.flip-container {
	perspective: 1250px;
	transform-style: preserve-3d;
}

.corp-flip-container:hover .corp-back {
	transform: rotateY(0deg);

/*added*/
    z-index: 2;   
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

.corp-flip-container:hover .corp-front {
    transform: rotateY(180deg);

/*added*/
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.corp-flip-container, .corp-front, .corp-back {
	 /* setting in wf width: 350px; */
	/* setting in wf height: 350px; */
}

.corp-flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.corp-front, .corp-back {
	backface-visibility: hidden;

/*added*/
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;


	transition: 0.6s;
	transform-style: preserve-3d;
  	position: absolute;
    top: 56;
/*
	position: absolute;
	top: 56;
	left: 0;

added*/

    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;

}

.corp-front {
	z-index: 2;
	transform: rotateY(0deg);
/*added*/
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg); 

}

.corp-back {
	z-index: 1;
	transform: rotateY(-180deg);
/*added*/
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg); 
}